
 body>*{
 	display:inline-block;
 	text-align: center;
 	width: 15%;
    border:2px solid grey;
    padding: 20px;
    margin:7px;
    }

h2{
	font-family:'Love Ya Like A Sister', cursive;
}

h3{
	font-family: 'Bad Script', cursive;
}

p{
	font-family:  'Convergence', sans-serif;
}

div{
	height: 265px;
	vertical-align: middle;
}

div:hover{
	height: 280px;
	background: orange;
}